<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <div class="row mx-3">
                <th:block th:replace="fragments/account-fragments :: account-sidebar"/>
                <div class="col-md-9 mb-5">
                    <th:block th:replace="fragments/common-fragments :: info-title(text='Edit cloth', icon='fas fa-edit mr-2')"/>
                    <form method="post" action="/admin/edit/cloth" enctype="multipart/form-data">
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <th:block th:replace="fragments/account-fragments :: edit-cloth-input(
                                    title='Cloth title',
                                    name='clothTitle',
                                    value=(${cloth.getClothTitle()}),
                                    error=(${clothTitleError})
                                )"/>
                                <th:block th:replace="fragments/account-fragments :: edit-cloth-input(
                                    title='Brand',
                                    name='perfumer',
                                    value=(${cloth.getPerfumer()}),
                                    error=(${perfumerError})
                                )"/>
                                <th:block th:replace="fragments/account-fragments :: edit-cloth-input(
                                    title='Release year',
                                    name='year',
                                    value=(${cloth.getYear()}),
                                    error=(${yearError})
                                )"/>
                                <th:block th:replace="fragments/account-fragments :: edit-cloth-input(
                                    title='Country',
                                    name='country',
                                    value=(${cloth.getCountry()}),
                                    error=(${countryError})
                                )"/>
                                <th:block th:replace="fragments/account-fragments :: edit-cloth-select(
                                    title='Cloth type',
                                    name='type',
                                    options=(${ {'Eau de Parfum', 'Eau de Toilette'} }),
                                    value=(${cloth.getType()}),
                                    error=(${typeError})
                                )"/>
                                <th:block th:replace="fragments/account-fragments :: edit-cloth-input(
                                    title='Volume',
                                    name='volume',
                                    value=(${cloth.getVolume()}),
                                    error=(${volumeError})
                                )"/>
                                <th:block th:replace="fragments/account-fragments :: edit-cloth-select(
                                    title='Gender',
                                    name='clothGender',
                                    options=(${ {'male', 'female'} }),
                                    value=(${cloth.getClothGender()}),
                                    error=(${clothGenderError})
                                )"/>
                                <th:block th:replace="fragments/account-fragments :: edit-cloth-input(
                                    title='Top notes',
                                    name='clothTopNotes',
                                    value=(${cloth.getClothTopNotes()}),
                                    error=(${clothTopNotesError})
                                )"/>
                                <th:block th:replace="fragments/account-fragments :: edit-cloth-input(
                                    title='Heart notes',
                                    name='clothMiddleNotes',
                                    value=(${cloth.getClothMiddleNotes()}),
                                    error=(${clothMiddleNotesError})
                                )"/>
                                <th:block th:replace="fragments/account-fragments :: edit-cloth-input(
                                    title='Base notes',
                                    name='fragranceBaseNotes',
                                    value=(${cloth.getFragranceBaseNotes()}),
                                    error=(${fragranceBaseNotesError})
                                )"/>
                                <th:block th:replace="fragments/account-fragments :: edit-cloth-input(
                                    title='Price',
                                    name='price',
                                    value=(${cloth.getPrice()}),
                                    error=(${priceError})
                                )"/>
                            </div>
                            <div class="col-md-6">
                                <div th:if="${cloth.getFilename()}">
                                    <img th:src="@{/img/{path} (path = ${cloth.getFilename()})}"
                                         class="rounded mx-auto w-100 mb-2"/>
                                </div>
                                <input type="file" name="file"/>
                            </div>
                        </div>
                        <input type="hidden" name="id" th:value="${cloth.getId()}"/>
                        <input type="hidden" name="filename" th:value="${cloth.getFilename()}"/>
                        <th:block th:replace="fragments/common-fragments :: icon-button(text='Edit', icon='fas fa-edit mr-2')"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
